.wrapper {
  padding: 5px;
  border: 1px solid #0001;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 600px;
  .wrapAdd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .add {
    margin: 0 4px;
  }
  .textField {
    flex-grow: 1;
  }
  button {
    flex-shrink: 0;
    width: 20%;
  }
  li {
    list-style: none;
  }
}
