.tasks {
  display: flex;
  .text {
    flex-grow: 1;
  }
  .close {
    width: 50px;
    color: #f00;
  }
  .MuiFormControl-root {
    .MuiInput-underline {
      &:before {
        border-bottom: none;
      }
    }
    .Mui-focused {
      &.MuiInput-underline {
        &:before {
          display: unset;
        }
      }
    }
  }
}
